@charset "UTF-8";
.works {
    max-width: 950px;
    margin: 0 auto 80px;
    padding: 0 50px;
}

.works_img img {
    width: 100%;
    height: auto;
}

.title h1 {
    font-family: "nimbus-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(30px, 3vw, 50px);
    color: #000;
    letter-spacing: 0.02em;
    padding: 100px 0 50px 0;
}

.works_description h2 {
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(15px, 2vw, 18px);
    letter-spacing: 0.05em;
    margin: 10px auto 15px;
}
.works_description p {
    font-family: dnp-shuei-gothic-kin-std, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: clamp(13px, 1.5vw, 15px);
    letter-spacing: 0.05em;
}

@media (max-width: 600px) {
    .works {
        max-width: 400px;
        margin: 0 auto 50px;
    }
    .title h1 {
        padding: 80px 0 20px 0;
        font-size: clamp(20px, 2vw, 30px);
        
    }
    .works_description h2 {
        margin: 10px auto;
    }
}
